#educations, #experiences {
  border: 1px solid;
  padding: 15px;
  border-radius: 10px;
  margin: 15px 0;

  .nested-fields {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px;
    margin: 30px 15px;
  }

  .links {
    padding: 0px 0px 0px 30px;
  }
}

.resumes {
  padding: 20px;

  .resume {
    padding: 15px 40px;
    border-radius: 100px;
    border: 1px solid;
    text-align: center;
    box-shadow: 0px 0px 3px 1px;
    margin: 10px 5px;
  }
}

.page-content {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 100px;
  margin-bottom: 90px;
  padding-top: 100px;

  .top-section {
    .content {
      text-align: center;
      span {
        font-size: 2.1875em;
        line-height: 1.28571em;
        font-weight: 700;
        text-align: center;
      }
      p {
        margin-bottom: 90px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        color: #8a8c8c;
      }
      img {
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
  h1 {
    margin-left: 15px;
    font-family: "Gotham SSm A","Gotham SSm B",Helvetica,Arial,"Microsoft Yahei",SimSun;
    font-weight: 200;
    color: #2d292a;
    margin: 0;
    font-size: 1.5em;
    line-height: 1.8;      
  }

  .form-section {
    .title {
      padding-top: 20px;
      padding-bottom: 20px
    }
    .title h2 {
      font-size: 1.5em;
    }
    .field {
      padding: 15px 5px;
      label {
        font-weight: bold;
      }
      input, textarea {
        border: none;
        border-bottom: 1px solid;
        border-color: gainsboro;
      }
    }
  }
}
